.flight-booking_price-detail_box{
    padding: 15px;
    border-radius: 5px;
    gap: 15px;
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.flight-booking_price-detail_box h5{
    color: #396bca;
    font-weight: 700;
}
.flight-booking-traveler_price-table{
    gap: 10px;
}

.flightbooking-prdt-disclaimer{
    font-size: 11px;
    font-weight: 500;
}
.bdr-dashed-top{
    border-top: 2px dashed lightgray;
    padding-top: 10px;
}
.bdr-dashed-bottom{
    border-bottom: 2px dashed lightgray;
    padding-bottom: 10px;
}
.flight-booking-traveler_price-table td{
    font-size: 15px;
}

@media screen and (max-width: 767px) {
    .flight-booking-traveler_price-table td{
        font-size: 13px;
    }
}