.hoteld-bookstay{
    background: white;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    gap: 20px;
    padding: 15px 10px;
    border: 1px solid lightgray;
}
.hoteld-bookstay-border-bottom{
    border-bottom: 1px solid lightgray;
    width: 100%;
    padding-bottom: 5px;
}
.hoteld-bookstay-contact{
    gap: 10px;
}
.hoteld-bookstay-contact-box, .hoteld-bookstay-perk-box{
    gap: 7px;
    align-items: center !important;
}
.hoteld-bookstay-contact-box img, .hoteld-bookstay-perk-box img{
    height: 20px;
    width: auto;
}
.hoteld-bookstay-contact-box a, .hoteld-bookstay-perk-box p{
    font-size: 14px;
}
.hotel-booking-stay-btn, .hotel-booking-stay-btn:hover{
    background: #396BCA;
    font-size: 14px ;
    font-weight: 500;
    color: white;
    padding: 10px 0px;
    border-radius: 5px;
}
.hoteld-bookstay-perks{
    gap: 10px;
}
.hoteld-bookstay-table{
    gap: 10px;
}
.hoteld-bookstay-table th, .hoteld-bookstay-table tr{
    width: 100%;
}
.hoteld-bookstay-table-tr td{
    font-size: 14px;
    color: gray;
}
.hoteld-bookstay-table-tr span{
    color: green;
}
.hoteld-bookstay-table-tr strong{
    color: black;
    font-size: 15px;
}
.hoteld-bookstay-topleft{
    align-items: center !important;
    justify-content: start !important;
}
.hoteld-bookstay-topleft p{
    font-size: 14px;
}
.hoteld-bookstay-topleft img{
    height: 35px;
    width: auto;
}
.hoteld-bookstay-topleft-mainbox{
    gap: 10px 5px;
}
.hoteld-bookstay-topright{
    gap: 3px;
    font-size: 14px;
    justify-content: flex-end !important;
}
.hoteld-bookstay-topright p, .hoteld-bookstay-topright s{
    width: 100%;
    text-align: right;
}
.hoteld-bookstay-topright s, .hoteld-bookstay-topright p{
    color: gray;
}
.hoteld-bookstay-topright span{
    color: #396BCA;
    font-size: 18px;
    font-weight: 500;
}
.hoteld-bookstay-topright p{
    font-size: 12px;
}
.hoteld-bookstay-discount{
    background: #f50122;
    color: white !important;
    border-radius: 5px;
    padding: 2px 10px;
    font-size: 14px;
    font-weight: 500;
}