.hotel-listing-page .row{
    margin: auto;
}
.bdr-top{
    border-top: 1px solid lightgray;
}
.bdr-btm{
    border-bottom: 1px solid lightgray;
}
.hotel-listing-breadcrumb, .hotel-listing-properties, .hotellistng-search{
    padding: 20px 0px;
}
.hotel-listing-breadcrumb-row li>a, .hotel-listing-properties-col p{
    color: gray;
    font-size: 15px;
}
.hotel-listing-breadcrumb-row .breadcrumb {

 align-items: center !important;
}
.hotel-listing-breadcrumb-row .breadcrumb-item.active, .hotel-listing-properties-col strong{
    color: black;
}
.hotel-listing-properties-col{
    gap: 10px;
}
.hotellistng-search{
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    background: white;
}
.hotel-listing-main{
    background: rgb(251, 254, 255);
    padding: 40px 0px;
}
.hotel-listing-filter{
    background: white;
    border-radius: 10px;
    padding: 15px;
    gap: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.hotel-listing-filter .form-select, .hotel-listing-filter span, .hotel-listing-filter label{
    font-size: 14px;
}
.hotel-listing-col-card{
    background: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}
.hotel-listing-box-image{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 350px;
    object-fit: cover;
}
.hotel-listing-box-image{
    position: relative;
}
.hotel-listing-box-discount{
    position: absolute;
    top: 10px;
    right: 20px;
    background: red;
    z-index: 1;
    color: white;
    font-size: 13px;
    border-radius: 50px;
    padding: 3px 15px;
}
.hotel-listing-box-content{
    gap: 10px;
}
.hotel-listing-box-hotelname{
    padding: 15px 0px;
    gap: 10px;
}
.hotel-listing-box-hotelname-btn, .hotel-listing-box-hotelname-btn:hover{
    background: #396BCA !important;
    color: white !important;
    font-size: 14px ;
    font-weight: 500;
}
.hotel-listing-box-prices, .hotel-listing-location, .hotel-listing-box-amenities{
    gap: 5px;
}
.hotel-listing-box-hotelname p, .hotel-listing-box-hotelname span, .hotel-listing-box-bottom p, .hotel-listing-box-bottom s{
    color: gray;
    font-size: 15px;
}
.hotel-listing-box-amenities-span{
    font-size: 12px !important;
    padding: 3px 10px;
    border-radius: 5px;
}
.hotel-listing-rating-star{
    gap: 3px;
    background: #396BCA;
    border-radius: 50px;
    padding: 3px 10px;
}
.hotel-listing-rating-star p{
    color: white;
    font-size: 14px;
    font-weight: 500;
}

@media screen and (max-width: 992px) {
    .hotel-listing-filter .form-select, .hotel-listing-filter span, .hotel-listing-filter label, .hotel-listing-box-hotelname p, .hotel-listing-box-hotelname span, .hotel-listing-box-bottom p, .hotel-listing-box-bottom s, .hotel-listing-breadcrumb-row .breadcrumb-item.active, .hotel-listing-properties-col strong, .hotel-listing-breadcrumb-row li>a, .hotel-listing-properties-col p{
        font-size: 13px;
    }
    .hotel-listing-box-image{
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 10px;
    }
    .hotel-listing-box-image{
        padding-left: 5px !important;
    }
    .hotel-listing-box{
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .hotel-listing-breadcrumb, .hotel-listing-properties, .hotellistng-search{
        padding: 10px 0px;
    }
}