.fbooking-fdetail-colone{
    background: #0e3d6f;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 15px;
}
.fbooking-fdetail-colone{
    gap: 10px;
    align-items: center !important;
}
.fbooking-fdetail-colone h4{
    color: white;
}
.fbooking-fdetail-colone img{
    height: 30px;
    width: auto;
}
.fbooking-fdetail-coltwo img{
    height: 65px;
    width: auto;
}
.fbooking-fdetail-coltwo{
    gap: 10px;
    align-items: center !important;
}
.fbooking-fdetail-col-airline p{
    font-size: 17px;
    color: gray;
}
.fbooking-fdetail-col-airline strong{
    color: black;
    font-size: 20px;
}
.fbooking-fdetail-colthree-box{
    gap: 2px;
}
.fbooking-fdetail-colthree-box p{
    color: gray;
    font-size: 16px;
    font-weight: 500;
}
.city-name-fbooking, .fbooking-fdetail-colthree-box strong{
    color: black !important;
}
.fbooking-fdetail-colthree-box strong{
    font-size: 25px;
}
.fbooking-fdetail-colthree-box span{
    font-size: 14px;
    font-weight: 400;
}
.fbooking-fdetail-colthree-lastbox p{
    width: 100%;
    text-align: right;
}
.fbooking-fdetail-colthree-midbox{
    gap: 5px;
}
.fbooking-fdetail-colthree-midbox p{
    font-size: 14px;
    color: gray;
    font-weight: 500;
}
.fbooking-fdetail-colthree-midbox-image-line{
    width: 150px;
    height: 2px;
    background: lightgray;
}
.fbooking-fdetail-colthree-midbox-image{
    gap: 10px;
}
.fbooking-fdetail-subcolfour{
    border-top: 1px solid lightgray;
    padding: 10px 0px;
    gap: 15px;
}
.fbooking-fdetail-colfourbox{
    align-items: center !important;
    gap: 5px;
}
.fbooking-fdetail-colfourbox img{
    height: 20px;
    width: auto;
}
.fbooking-fdetail-colfourbox p{
    font-size: 15px;
}

@media screen and (max-width: 992px) {
     .fbooking-fdetail-col-airline p, .fbooking-fdetail-colfourbox p{
        font-size: 14px;
    }
    .fbooking-fdetail-colthree-box strong{
        font-size: 20px;
    }
    .fbooking-fdetail-colthree-midbox-image-line{
        width: 100px;
    }
    .fbooking-fdetail-coltwo img{
        height: 50px;
    }
    .fbooking-fdetail-col-airline strong,.flight-booking-paysummary-colone-tablebody span{
        font-size: 17px;
    }

}
@media screen and (max-width: 576px) {
        .fbooking-fdetail-colthree-midbox-image-line{
            width: 20px;
        }
        .fbooking-fdetail-colthree-midbox-image img{
            height: 20px;
            width: auto;
        }
        .fbooking-fdetail-colthree-midbox p{
            font-size: 12px;
        }
}
