/*-----------------common--------------*/
.start {
    display: flex;
    justify-content: start;
    align-items: start;
}

.cent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btwn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fd-col {
    flex-direction: column;
}

.fd-row {
    flex-direction: row;
}

a {
    text-decoration: none !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0px !important;
}

.common-gap {
    gap: 25px 0px;
}

/*---------------------------------------------------------------------Homepage Start------------------------------------------------------------------------------*/


/*---------------------------------------------------------------------Homepage end------------------------------------------------------------------------------*/




/*-----------package lp---------*/
/*--------package landingpage------*/
.c_mar-top {
    margin-top: 40px;
}

.package-lp .row,
.package-listing .row {
    margin-left: auto;
    margin-right: auto;
}


.package-banner {
    background: linear-gradient(to right, #001123, #396bca, #001123);
    padding: 100px 0px 50px 0px;
}

.package-banner-row,
.pkg_landingp-partner-airline-row,
.pkg_landingp-unbeatable-price-row,
.pkd_landingp-visa-free-desti-row,
.pkg_landingp-benefits-row,
.pkg_landingp_image-slider-row,
.pkg_landingp-pkg-choice-row,
.pkg_landingp_destination-row,
.pkg_landingp_destination-container,
.hotel-listing-row {
    gap: 25px 0px;
}

.package-banner-col_heading,
.pkg_landingp-speak-to-expert,
.pkg_landingp-pkg-choice-explore a,
.pkd_landingp-visa-free-desti-img-two,
.pkd_landingp-visa-free-desti-img-one,
.package-banner-se-search-btn,
.package-banner-se-search-btn:hover,
.pkd_landingp-visa-free-desti-box-btn,
.pkd_landingp-visa-free-desti-box-btn:hover,
.pkg_landingp-unbeatable-price-box-content-btn,
.pkg_landingp-unbeatable-price-box-content-btn:hover,
.pkg_landingp-partner-airline-discount,
.pkg-page-airline-partner-btn,
.pkg-page-airline-partner-btn:hover {
    color: white;
}

.package-banner-col_heading h1,
.pkg_landingp-top_content-col h2,
.pkg_landingp_destination-col-heading h3,
.pkg_landingp-pkg-choice-col-heading h3,
.pkg_landingp_image-slider-col-heading h3,
.pkg_landingp-benefits-col-heading h3,
.pkd_landingp-visa-free-desti-col-heading h3,
.pkg_landingp-unbeatable-price-heading h3,
.pkg_landingp-partner-airline-heading h3,
.pkg_landingp-speak-to-expert-col h4,
.hotel-listing-row-heading h2 {
    font-weight: 700;
    margin-bottom: 15px;
}

.pkg_landingp-top_content-col h2,
.pkg_landingp_destination-col-heading h3,
.pkg_landingp-pkg-choice-col-heading h3,
.pkg_landingp_image-slider-col-heading h3,
.pkg_landingp-benefits-col-heading h3,
.pkd_landingp-visa-free-desti-col-heading h3,
.pkg_landingp-unbeatable-price-heading h3,
.pkg_landingp-partner-airline-heading h3,
.hotel-listing-row-heading h2 {
    color: #396BCA;
}

.package-banner-col_heading p,
.package-banner-se-search-btn,
.pkg_landingp-partner-airline-heading a,
.pkg_landingp-top_content-col p,
.pkg_landingp_destination-col-heading p,
.pkg_landingp-pkg-choice-col-heading p,
.pkg_landingp_image-slider-col-heading p,
.pkg_landingp-speak-to-expert-col p,
.pkg_landingp-benefits-col-heading p,
.pkd_landingp-visa-free-desti-col-heading p,
.pkg_landingp-partner-airline-heading p,
.pkg_landingp-pkg-choice-explore a,
.pkg_landingp-speak-to-expert-btn,
.pkg_landingp-speak-to-expert-col,
.pkg_landingp-benefits-box strong,
.pkd_landingp-visa-free-desti-box-content strong,
.pkd_landingp-visa-free-desti-box-btn,
.pkd_landingp-visa-free-desti-box-btn:hover,
.pkg_landingp-unbeatable-price-box-content strong,
.pkg-page-airline-partner-btn,
.pkg-page-airline-partner-btn:hover,
.pkg_landingp-partner-airline-content strong {
    font-size: 15px;
}

.package-bannerse-row {
    border: 2px solid #001123;
    border-radius: 50px;
    background: white;
    padding: 10px;
    margin: auto;
}

.package-banner-se-box p,
.package-banner-se-input-box input::placeholder {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 2px;
    color: black;
    font-weight: 500;
}

.package-banner-se-input-box {
    align-items: center;
    gap: 5px;
}

.package-banner-se-input-box img {
    height: 20px;
}

.package-banner-se-input-box input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
}

.package-banner-se-box {
    border-right: 1px solid black;
}

.package-banner-se-search-btn,
.package-banner-se-search-btn:hover,
.pkd_landingp-visa-free-desti-box-btn,
.pkd_landingp-visa-free-desti-box-btn:hover,
.pkg-page-airline-partner-btn,
.pkg-page-airline-partner-btn:hover {
    background: #396BCA;
    border-radius: 50px;
    height: 50px;
}

.pkg_landingp-pkg-choice,
.pkg_landingp-speak-to-expert,
.pkg_landingp-benefits {
    padding: 50px 0px 50px 0px;
}

.pkg_landingp-pkg-choice,
.pkd_landingp-visa-free-desti-box-content .pkg_landingp-pkg-choice-box-sub-content a {
    background: #cfe5ff;
}

.pkg_landingp-pkg-choice-box {
    background: white;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.pkg_landingp-pkg-choice-box-image,
.pkg_landingp-pkg-choice-explore {
    width: 100%;
}

.pkg_landingp-pkg-choice-box-image img,
.pkd_landingp-visa-free-destiimage img,
.pkg_landingp-unbeatable-price-box-image img,
.pkg_landingp-partner-airline-image img {
    width: 100%;
    object-fit: cover;
}

.pkg_landingp-pkg-choice-box-image img {
    height: 350px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pkg_landingp-pkg-choice-box-content p,
.pkg_landingp-pkg-choice-box-sub-content a,
.pkg_landingp-benefits-box p,
.pkd_landingp-visa-free-desti-box-content p,
.pkg-choice-para,
.pkd_landingp-visa-free-desti-box-content p,
.pkd_landingp-visa-free-desti-box-content .pkg_landingp-pkg-choice-box-sub-content a,
.pkg_landingp-unbeatable-price-box-content p,
.pkg_landingp-unbeatable-price-box-content-btn,
.pkg_landingp-unbeatable-price-box-content-btn:hover,
.pkg_landingp-partner-airline-content p {
    font-size: 14px;
}

.pkg_landingp-pkg-choice-explore {
    background: #396BCA;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.pkg_landingp-pkg-choice-explore a {
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
}

.pkg_landingp-pkg-choice-box-sub-content {
    flex-wrap: wrap;
    margin: 15px 0px 15px 0px;
}

.pkg_landingp-pkg-choice-box-sub-content a {
    padding: 3px 10px;
    border-radius: 50px;
    background: #dfdede;
    color: black;
}

.pkg-choice-para img {
    height: 20px;
}

.pkg-choice-para {
    align-items: center;
    gap: 5px;
    font-weight: 600;
}

.pkg_landingp-speak-to-expert {
    background: linear-gradient(to right, #001123, #396bca);
    text-align: center;
}

.chat-icon {
    height: 60px;
}

.pkg_landingp-speak-to-expert-btn img {
    height: 40px;
}

.pkg_landingp-speak-to-expert-btn,
.pkg_landingp-speak-to-expert-btn:hover {
    justify-content: center;
    background: white;
    font-weight: 600;
}

.pkg_landingp-benefits,
.pkg_landingp-partner-airline-sub-box {
    background: #faeff0;
}

.pkg_landingp-benefits-col-heading h3 {
    color: #f50122;
}

.pkg_landingp-benefits-box,
.pkg_landingp-speak-to-expert-btn,
.pkg_landingp-speak-to-expert-col,
.pkg_landingp-pkg-choice-box-sub-content,
.pkd_landingp-visa-free-desti-box-content,
.pkg_landingp-unbeatable-price-box-content,
.pkg_landingp-pkg-choice-box-content,
.pkg_landingp-partner-airline-content {
    gap: 10px;
}

.pkg_landingp-benefits-box img {
    height: 80px;
}

.pkg_landingp-benefits-box p {
    text-align: center;
}

.pkd_landingp-visa-free-destiimage,
.pkg_landingp-partner-airline-image {
    position: relative;
    width: 100%;
}

.pkd_landingp-visa-free-desti-img-one {
    left: 0px;
    background: #049E6A;
}

.pkd_landingp-visa-free-desti-img-one,
.pkd_landingp-visa-free-desti-img-two {
    position: absolute;
    top: 15px;
    font-size: 10px;
    border-radius: 5px;
    padding: 3px 10px;
}

.pkd_landingp-visa-free-desti-img-two {
    right: 0px;
    background: #f50122;
}

.pkd_landingp-visa-free-destiimage img {
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pkd_landingp-visa-free-desti-box-content,
.pkg_landingp-unbeatable-price-box-content,
.pkg_landingp-pkg-choice-box-content,
.pkg_landingp-pkg-choice-explore,
.pkg_landingp-partner-airline-content {
    padding: 10px;
}

.pkd_landingp-visa-free-desti-box-btn,
.pkd_landingp-visa-free-desti-box-btn:hover,
.pkd_landingp-visa-free-desti-box-content .pkg_landingp-pkg-choice-box-sub-content a {
    border-radius: 10px;
}

.pkg_landingp-unbeatable-price-box {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
}

.pkg_landingp-unbeatable-price-box-image {
    width: 40%;
}

.pkg_landingp-unbeatable-price-box-image img,
.pkg_landingp-unbeatable-price-box-image,
.pkg_landingp-unbeatable-price-box-content {
    height: 200px;
}

.pkg_landingp-unbeatable-price-box-content {
    width: 60%;
    background: white;
    align-items: flex-start;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.pkg_landingp-unbeatable-price-box-content-btn,
.pkg_landingp-unbeatable-price-box-content-btn:hover {
    background: #001123;
    width: 50%;
}

.pkg_landingp-unbeatable-price-box-image img {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.pkg_landingp-partner-airline-image img {
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pkg_landingp-partner-airline-discount {
    background: #f50122;
    position: absolute;
    font-size: 11px;
    padding: 3px 15px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    right: 0px;
    top: 15px;
    width: fit-content;
    gap: 5px;
}

.pkg_landingp-partner-airline-discount img {
    height: 18px;
    width: auto;
}

.pkg-page-airline-partner-btn,
.pkg-page-airline-partner-btn:hover {
    background: #f50122;
    border-radius: 10px;
}

.pkg_landingp-partner-airline-sub-box {
    gap: 5px;
    padding: 8px;
    border-radius: 5px;
    margin: 10px 0px;
}

.pkg_landingp_destination-box {
    width: 19%;
}

.pkg_landingp_destination-box img {
    height: 310px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.pkg_landingp_destination-row,
.multiple-items {
    margin: auto;
}

.pkg_landingp-partner-airline-box {
    width: 90%;
}

.pkg_landingp-speak-to-expert-btn,
.pkg_landingp-speak-to-expert-btn:hover {
    background: white !important;
}

.pkg-call-icon,
.pkg-visa-time-icon {
    height: auto;
    width: auto;
}

.pkg_landingp-benefits-box img,
.pkg-airline-icon {
    height: auto;
    width: auto !important;
}

.pkd_landingp-visa-free-desti-box-btn,
.pkd_landingp-visa-free-desti-box-btn:hover {
    background: #396BCA !important;
    color: white !important;
    font-weight: 500;
}

.pkg_landingp-unbeatable-price-box-content-btn,
.pkg_landingp-unbeatable-price-box-content-btn:hover {
    background: black !important;
    color: white !important;
}

.pkg-page-airline-partner-btn,
.pkg-page-airline-partner-btn:hover {
    background: #f50122 !important;
    color: white !important;
    font-weight: 500;
}

.banner-bottom {
    background: black;
    padding: 3px 0px;
}

.banner-bottom-col p {
    color: white;
    font-size: 14px;
}

@media screen and (max-width: 1200px) {
    .pkg_landingp-pkg-choice-box-image img {
        height: 300px;
    }

    .pkg_landingp_destination-box img {
        height: 250px;
    }
}

@media screen and (max-width: 992px) {

    /*-------------------package page-----*/
    .pkg_landingp_destination-col {
        flex-wrap: wrap;
        justify-content: center !important;
        gap: 15px;
    }

    .pkg_landingp-pkg-choice-box-content p,
    .pkg_landingp-pkg-choice-box-sub-content a,
    .pkg_landingp-benefits-box p,
    .pkd_landingp-visa-free-desti-box-content p,
    .pkg-choice-para,
    .pkd_landingp-visa-free-desti-box-content p,
    .pkd_landingp-visa-free-desti-box-content .pkg_landingp-pkg-choice-box-sub-content a,
    .pkg_landingp-unbeatable-price-box-content p,
    .pkg_landingp-unbeatable-price-box-content-btn,
    .pkg_landingp-unbeatable-price-box-content-btn:hover,
    .pkg_landingp-partner-airline-content p {
        font-size: 13px;
    }

    .package-banner-col_heading p,
    .package-banner-se-search-btn,
    .pkg_landingp-partner-airline-heading a,
    .pkg_landingp-top_content-col p,
    .pkg_landingp_destination-col-heading p,
    .pkg_landingp-pkg-choice-col-heading p,
    .pkg_landingp_image-slider-col-heading p,
    .pkg_landingp-speak-to-expert-col p,
    .pkg_landingp-benefits-col-heading p,
    .pkd_landingp-visa-free-desti-col-heading p,
    .pkg_landingp-partner-airline-heading p,
    .pkg_landingp-pkg-choice-explore a,
    .pkg_landingp-speak-to-expert-btn,
    .pkg_landingp-speak-to-expert-col,
    .pkg_landingp-benefits-box strong,
    .pkd_landingp-visa-free-desti-box-content strong,
    .pkd_landingp-visa-free-desti-box-btn,
    .pkd_landingp-visa-free-desti-box-btn:hover,
    .pkg_landingp-unbeatable-price-box-content strong,
    .pkg-page-airline-partner-btn,
    .pkg-page-airline-partner-btn:hover,
    .pkg_landingp-partner-airline-content strong {
        font-size: 14px;
    }

    .pkg_landingp-pkg-choice,
    .pkg_landingp-speak-to-expert,
    .pkg_landingp-benefits {
        padding: 25px 0px 25px 0px;
    }

    .pkg_landingp-pkg-choice-box-image img {
        height: 200px;
    }

    .package-banner-row,
    .pkg_landingp-partner-airline-row,
    .pkg_landingp-unbeatable-price-row,
    .pkg_landingp_destination-container,
    .pkd_landingp-visa-free-desti-row,
    .pkg_landingp-benefits-row,
    .pkg_landingp_image-slider-row,
    .pkg_landingp-pkg-choice-row,
    .pkg_landingp_destination-row {
        gap: 15px 0px;
    }

    .pkd_landingp-visa-free-destiimage img,
    .pkg_landingp-partner-airline-image img {
        height: 150px;
    }

    .pkg_landingp-partner-airline-discount img {
        height: 18px;
    }

    .pkg-choice-para img {
        height: 15px;
        width: auto;
    }

    .pkg_landingp-speak-to-expert-btn {
        margin: 15px;
    }

    .pkg_landingp-benefits-box img {
        height: 50px;
    }

    .pkg_landingp-pkg-choice-box-sub-content {
        margin: 5px 0px;
    }

    .pkg_landingp-benefits-box,
    .pkg_landingp-speak-to-expert-btn,
    .pkg_landingp-speak-to-expert-col,
    .pkg_landingp-pkg-choice-box-sub-content,
    .pkd_landingp-visa-free-desti-box-content,
    .pkg_landingp-unbeatable-price-box-content,
    .pkg_landingp-pkg-choice-box-content,
    .pkg_landingp-partner-airline-content {
        gap: 5px;
    }

    .package-banner-se-search-btn,
    .package-banner-se-search-btn:hover,
    .pkd_landingp-visa-free-desti-box-btn,
    .pkd_landingp-visa-free-desti-box-btn:hover,
    .pkg-page-airline-partner-btn,
    .pkg-page-airline-partner-btn:hover {
        height: 40px;
    }

    .pkg_landingp-unbeatable-price-box-content-btn {
        width: 70%;
    }

    /*------package landingpage------*/
    .package-bannerse-row {
        padding: 15px 10px;
        border-radius: 10px;
        gap: 20px 0px;
    }

    .package-banner-se-search-btn {
        border-radius: 10px;
    }

    .package-banner-se-box {
        border: none;
    }

    .package-banner-se-box p {
        margin-bottom: 7px;
        color: #0e3d6f;
        font-weight: 600;
    }

    .package-banner-se-input-box {
        border-radius: 5px;
        border: 1px solid lightgray;
        width: 100%;
        padding: 10px;
    }

    .package-banner-col_heading {
        text-align: center;
    }

    .package-banner {
        padding: 50px 0px 25px 0px;
    }

    .pkg_landingp_destination-box img {
        height: 200px;
    }
}

@media screen and (max-width: 768px) {
    .c_mar-top {
        margin-top: 25px;
    }

    .pkg_landingp-pkg-choice-box-content p,
    .pkg_landingp-pkg-choice-box-sub-content a,
    .pkg_landingp-benefits-box p,
    .pkd_landingp-visa-free-desti-box-content p,
    .pkg-choice-para,
    .pkd_landingp-visa-free-desti-box-content p,
    .pkd_landingp-visa-free-desti-box-content .pkg_landingp-pkg-choice-box-sub-content a,
    .pkg_landingp-unbeatable-price-box-content p,
    .pkg_landingp-unbeatable-price-box-content-btn,
    .pkg_landingp-unbeatable-price-box-content-btn:hover,
    .pkg_landingp-partner-airline-content p {
        font-size: 12px;
    }

    .package-banner-col_heading p,
    .package-banner-se-search-btn,
    .pkg_landingp-partner-airline-heading a,
    .pkg_landingp-top_content-col p,
    .pkg_landingp_destination-col-heading p,
    .pkg_landingp-pkg-choice-col-heading p,
    .pkg_landingp_image-slider-col-heading p,
    .pkg_landingp-speak-to-expert-col p,
    .pkg_landingp-benefits-col-heading p,
    .pkd_landingp-visa-free-desti-col-heading p,
    .pkg_landingp-partner-airline-heading p,
    .pkg_landingp-pkg-choice-explore a,
    .pkg_landingp-speak-to-expert-btn,
    .pkg_landingp-speak-to-expert-col,
    .pkg_landingp-benefits-box strong,
    .pkd_landingp-visa-free-desti-box-content strong,
    .pkd_landingp-visa-free-desti-box-btn,
    .pkd_landingp-visa-free-desti-box-btn:hover,
    .pkg_landingp-unbeatable-price-box-content strong,
    .pkg-page-airline-partner-btn,
    .pkg-page-airline-partner-btn:hover,
    .pkg_landingp-partner-airline-content strong {
        font-size: 13px;
    }

    .package-banner-col_heading h1,
    .pkg_landingp-top_content-col h2,
    .pkg_landingp_destination-col-heading h3,
    .pkg_landingp-pkg-choice-col-heading h3,
    .pkg_landingp_image-slider-col-heading h3,
    .pkg_landingp-benefits-col-heading h3,
    .pkd_landingp-visa-free-desti-col-heading h3,
    .pkg_landingp-unbeatable-price-heading h3,
    .pkg_landingp-partner-airline-heading h3,
    .pkg_landingp-speak-to-expert-col h4 {
        margin-bottom: 10px;
    }

    .pkg_landingp-unbeatable-price-box-image img,
    .pkg_landingp-unbeatable-price-box-image,
    .pkg_landingp-unbeatable-price-box-content {
        height: 170px;
    }

    .pkg_landingp_destination-box {
        width: 31%;
    }

    .pkg_landingp_destination-col {
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center !important;
    }
}

@media screen and (max-width: 576px) {

    /*---------------------packagepage new------*/
    .pkd_landingp-visa-free-desti-img-two {
        display: none;
    }

    .pkg_landingp_image-slider-col img {
        height: 250px;
        border-radius: 10px;
    }

    .pkd_landingp-visa-free-desti-box-content {
        width: 100%;
    }

    .pkd_landingp-visa-free-desti-box {
        border-radius: 10px;
        border: 1px solid lightgray;
    }

    .pkg_landingp_destination-box {
        width: 47%;
    }

    .chat-icon {
        height: 50px !important;
        width: auto;
    }

    .banner-bottom-col p {
        font-size: 10px;
    }

}




/*----------package hotel listing page-----*/
.package-listing img {
    height: auto;
    width: auto;
    object-fit: cover;
}

.pkg-holidaylisting-col-box {
    background: white;
    border-radius: 50px;
    width: 60%;
    margin-top: 30px;
    padding: 10px 25px;
}

.hotel-listing-row-heading p,
.hotel_listing_col-information p,
.hotel_listing_col-information li,
.hotel-filter label,
.h_filter-box-heading p {
    font-size: 15px;
}

.hotel_listing_col-information h2,
.hotel_listing_col-information h3,
.hotel_listing_col-information h4,
.hotel_listing_col-information h5 {
    font-weight: 700;
    color: #001123;
    margin: 15px 0px;
}

.hotel_listing_col-information p,
.hotel_listing_col-information li {
    margin-bottom: 10px;
}

.hotel-listing-updating,
.hotel-listing-filter-recommend {
    gap: 35px;
}

.hotel-listing-updating p {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
}

.hotel-listing-filter-recommend p,
.hotel-filter-amt {
    gap: 5px;
    font-size: 12px;
    font-weight: 500;
    width: fit-content;
    border: 1px solid lightgray;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.hotel-listing-filter-recommend img {
    height: 18px;
}

.pkg-holidaylisting-col-box-input {
    align-items: center;
    width: 75%;
}

.pkg-holidaylisting-col-box-input img {
    width: auto;
    height: 25px;
}

.pkg-holidaylisting-col-box-input input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
}

.pkg-holidaylisting-col-btn,
.pkg-holidaylisting-col-btn:hover {
    background: #396BCA !important;
    color: white !important;
    border-radius: 50px !important;
    height: 50px;
}

.hotel-filter-box {
    border-radius: 10px;
    border: 1px solid lightgray;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 4px 0px;
    padding: 15px;
    gap: 20px 0px;
}

.hotel-filter h5 {
    margin-bottom: 10px;
    font-size: 18px;
}

.h_filter-box-heading-h5 {
    justify-content: start;
}

.h_filter-box-heading-h5 img {
    height: 35px;
}

.h_filter-box-range h5,
.h_filter-box-heading-h5,
.hotel-filter h5 {
    color: #396BCA;
    font-weight: 700;
}

.h_filter-box-range {
    gap: 15px 0px;
}

.h_filter-box-range input {
    accent-color: #396bca;
}

.hotel-filter-amt {
    padding: 3px 5px;
    margin: 5px;
}

.hotel_listing_box {
    border-radius: 5px;
    border: 1px solid lightgray;
    width: 100%;
}

.hotel-iamge {
    border-radius: 5px;
    width: 100%;
}

.hotel_listing_box-image {
    border-radius: 5px;
    width: 100%;
    position: relative;
}

.hotel_listing_row {
    margin: auto;
}

.hotel-listing-pkg-name,
.hotel-listing-pkg-name-price {
    position: absolute;
    top: 10px;
    background: white;
    font-size: 12px;
    padding: 3px 10px;
}

.hotel-listing-pkg-name {
    left: 5px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.hotel-listing-pkg-name-price {
    right: 5px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

.hotel_listing_box-btn,
.hotel_listing_box-btn:hover {
    height: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    background-image: linear-gradient(to right, #396bca, #f50122);
}

.hotel_listing_box-content {
    padding: 10px;
    gap: 10px 0px;
}

.hotel_listing_box-content p {
    font-size: 15px;
}

.hotel_listing_box-content strong,
.hotel_listing_box-content span {
    font-size: 18px;
}

.hotel_listing_box-content span {
    color: #f50122;
}

.hotel_listing_box-content span,
.hotel_listing_box-content s {
    font-weight: 600;
    letter-spacing: 1px;
}

.hotel_listing_box-content-para {
    align-items: center;
    gap: 5px;
}

.hotel_listing_box-content-para img {
    height: 20px;
}

.hotel_listing_box-content-location-rating {
    width: 100%;
}

.hotel-facilities {
    margin: 7px 0px;
    gap: 10px 0px;
}

.hotel-facilities p {
    font-size: 12px;
    width: 48%;
    height: 25px;
    border-radius: 5px;
    background: #cfe5ff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.hotel-listing-row,
.hotel-listing-container {
    margin: auto;
}

.hotel_listing_row {
    gap: 25px 0px;
}

.hotel-listing-col,
.hotel_listing_col-information,
.hotel-listing-row-heading {
    padding: 0px;
}

.hotel_listing-mb-filter {
    display: none;
}


@media screen and (max-width: 1200px) {

    /*------hotel listing page-----*/
    .hotel_listing_box-content p {
        font-size: 12px;
    }

    .hotel-listing-row-heading p,
    .hotel_listing_col-information p,
    .hotel_listing_col-information li,
    .hotel-filter label,
    .h_filter-box-heading p,
    .h_filter-box-range p {
        font-size: 13px;
    }

    .hotel-filter-amt {
        font-size: 11px;
    }

    .hotel-facilities p {
        width: fit-content;
        padding: 5px;
        height: auto;
        font-size: 10px;
    }

    .hotel_listing_box-content strong,
    .hotel_listing_box-content span {
        font-size: 15px;
    }

    .hotel_listing_box-btn,
    .hotel_listing_box-btn:hover {
        height: 40px;
    }
}

@media screen and (max-width: 992px) {

    /*------------hotel listing page------*/
    .independence-day-faq .accordion-item:last-of-type .accordion-button.collapsed,
    .pkg-holidaylisting-col-box-input input::placeholder {
        font-size: 14px;
    }

    .pkg-holidaylisting-col-box {
        width: 100%;
    }

    .pkg-holidaylisting-col-box-input img {
        height: 25px;
    }

    .pkg-holidaylisting-col-btn,
    .pkg-holidaylisting-col-btn:hover {
        height: 40px;
    }

    .hotel-listing-col-filter,
    .hotel-listing-updating-filter-recommend {
        display: none;
    }

    .footer-ql {
        justify-content: flex-start;
    }

    .hotel_listing-mb-filter {
        display: flex !important;
    }

    .hotel_listing-mb-filter-col {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        width: fit-content;
        margin: auto;
        border-radius: 10px;
    }

    .navbar-toggler img {
        height: 40px;
    }

    .navbar-toggler {
        border: none;
        box-shadow: none;
    }

    .navbar-brand {
        color: #0e3d6f;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 1px;
    }

    .navbar {
        -bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
    }
}

@media screen and (max-width: 576px) {

    /*-------hotel listing page-----*/
    .hotel-listing-banner {
        display: flex;
    }

    .hotel_listing_row {
        gap: 15px 0px;
    }

    .hotel_listing_row-col {
        padding: 0px;
    }
}


/*---------package detail page------*/
.package-detail-page .row {
    margin: auto;
}

.pkg_dp_aside-wcu h5,
.pkg_dp_aside-wcu p {
    color: white;
}

.pkg_dp_aside-wcu h5,
.pkg_dp_aside-wcu-box h6,
.pkg_dp_aside-card-heading h6 {
    font-weight: 700;
}

.pkg_dp_aside-wcu h5,
.pkg_dp_aside-wcu-box h6,
.pkg_dp_aside-card-heading h6 {
    margin-bottom: 0px;
}

.pkg_dp_aside-wcu-box p {
    color: black;
}

.pkg_pink {
    background: #fdecee;
}

.pkg_blue {
    background: #eaf1fd;
}

.pkg_dp_aside-wcu-box-content p,
.pkg-dp-hotel-location {
    font-size: 13px;
}

.pkg_detail-page-coltwo {
    gap: 25px 0px;
}

.pkg_dp_aside-card,
.pkg-detail-hotel-img,
.pkg_dp_aside-card-heading {
    width: 100%;
}

.pkg_dp_aside-card,
.pkg_dp_aside-wcu,
.pkg_dp_aside-wcu-box,
.pkg-detail-hotel-img {
    border-radius: 10px;
}

.pkg-detail-hotel-img {
    object-fit: cover;
}

.pkg-detail-hotel-img {
    height: 300px;
}

.pkg_dp_aside-card {
    border: 1px solid lightgray;
    padding: 7px;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    align-items: flex-start;
}

.pkg-detail-star-img {
    height: 20px !important;
    width: auto;
}

.pkg_dp_aside-wcu {
    background-image: linear-gradient(to bottom, #001123, #396bca);
    padding: 25px 20px;
}

.pkg_dp_aside-wcu {
    gap: 15px 0px;
}

.pkg_dp_aside-wcu-box {
    padding: 10px;
    gap: 5px;
    align-items: flex-start;
}

.pkg_dp_aside-wcu-box img {
    height: 40px;
}

.pkg_dp_aside-card-heading p {
    font-size: 11px;
    background: #fe8505;
    padding: 3px 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.pkg-dp-hotel-location {
    align-items: center;
}

.pkg_dp_aside-wcu img {
    width: auto;
}

.pkg_dp_aside-form {
    border-radius: 5px;
    background: white;
    padding: 15px 10px;
    gap: 20px 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.pkg_dp_aside-form-row {
    gap: 15px 0px;
}

.pkg_dp_aside-form-col {
    gap: 5px;
}

.pkg_dp_aside-form-col label {
    font-size: 14px;
    font-weight: 500;
}

.pkg_dp_aside-form-in_box input,
.pkg_dp_aside-form-in_box textarea {
    border: none;
    width: 100%;
    background: transparent;
    outline: none;
}

.pkg_dp_aside-form-in_box input::placeholder,
.pkg_dp_aside-form-in_box textarea::placeholder,
.pkg_dp_aside-form-col p {
    font-size: 14px;
    color: gray;
    font-weight: 500;
}

.pkg_dp_aside-form-in_box {
    border-radius: 5px;
    background: rgb(235, 235, 235);
    width: 100%;
    padding: 5px 10px;
    gap: 5px;
    align-items: center !important;
}

.pkg_dp_aside-form-in_box img {
    height: 20px;
    width: auto;
}

.pkg-det-form-cal {
    height: 30px !important;
    width: auto;
}

.pkg_dp-aside-form-btn,
.pkg_dp-aside-form-btn:hover,
.pkg_dp-aside-form-cta-btn,
.pkg_dp-aside-form-cta-btn:hover {
    background: #396BCA !important;
    color: white !important;
    font-weight: 600 !important;
}

.pkg_dp_aside-form-col-button {
    gap: 10px;
}

.pkg_dp_aside-form-col-button a {
    font-size: 14px;
}

.pkg_dp-aside-form-cta-btn img {
    height: 25px;
    width: auto;
    margin-right: 5px;
}


.pkg-dp-similar-pkg-box {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
    gap: 5px;
}

.pkg-dp-similar-pkg-box h5 {
    font-weight: 700;
}

.pkg-dp-similar-pkg-box p {
    font-size: 13px;
    font-weight: 500;
}

.similar-pkg-icon {
    height: 25px !important;
    width: auto;
}

.pkg-dp-similar-pkg-box-price p {
    text-align: right !important;
}

.pkg-dp-similar-pkg-box-price {
    align-items: flex-end !important;
    gap: 7px;
}

.pkg-dp-similar-pkg-box-price span {
    color: #0e3d6f;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    padding: 5px 10px;
    background: rgb(247, 247, 247);
}

.pkg-dp-similar-pkg-box-btn,
.pkg-dp-similar-pkg-box-btn:hover {
    background: #0e3d6f !important;
    color: white !important;
}

.pkg-detail-inc-exc-box-col-box {
    border-radius: 10px;
    gap: 10px;
    border: 1px solid lightgray;
}

.pkg-detail-inc-exc-box-col-box h4 {
    border-radius: 10px;
    background-image: linear-gradient(to right, #0e3d6f, #396BCA);
    width: 100%;
    padding: 10px 30px;
    color: white;
}

.pkg_iti-tptwo-ul {
    gap: 10px;
}

.pkg_iti-tptwo-li {
    gap: 5px;
    font-size: 15px;
    font-weight: 500;
}

.pkg_iti-tptwo-li img {
    height: 15px;
    width: auto;
}

.pkg-dp-itinary-col-box {
    border-radius: 10px;
    border: 1px solid lightgray;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.pkg_iti-ul {
    border-radius: 10px;
    border: 1px solid black;
}

.pkg_iti-li {
    width: 50%;
}

.pkg-dp-itinary .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    border-radius: 10px;
    background-image: linear-gradient(to right, #0e3d6f, #396BCA);
    padding: 10px;
    color: white !important;
}

.pkg_iti-li-btn {
    color: black !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}

.pkg_iti-detail-ul {
    padding: 10px 15px !important;
    gap: 15px;
    align-items: center !important;
}

.pkg_iti-tc .nav-tabs .nav-item.show .nav-link,
.pkg_iti-tc .nav-tabs .nav-link.active {
    padding: 5px 10px;
    background: black !important;
    border-radius: 5px !important;
    color: white !important;
}

.pkg_iti-detail-li-btn {
    font-size: 13px !important;
    color: black !important;
    font-weight: 500 !important;
}

.pkg_iti-detail-tpone {
    padding: 10px;
}

.pkg_iti-detail-tpone-col {
    gap: 10px;
}

.pkg_iti-detail-tpone-col img {
    height: 40px;
    width: auto;
}

.pkg_iti-detail-tpone-col p {
    font-size: 15px;
}

.pkg_iti-detail-tpone-col-content p {
    font-size: 14px;
    margin-bottom: 10px !important;
}

.pkg_change {
    padding: 20px;
    gap: 15px;
}

.pkg_change li {
    font-size: 14px;
    margin-bottom: 5px !important;
}

.pkg_dp-pkg-highlights,
.pkg-dp-pkg-overview {
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: 10px;
    gap: 15px 0px;
}

.pkg_highlight_outer-box,
.pkg_detail_overview_outerbox {
    padding: 0px 10px 0px 10px;
}

.pkg_dp-pkg-highlights-extra-col {
    flex-wrap: wrap;
    gap: 15px 0px;
}

.hotel_listing_box-content-para {
    width: 48%;
    font-size: 14px;
    gap: 5px;
    font-weight: 500;
}

.hotel_listing_box-content-para img {
    height: 15px;
    width: auto;
}

.pkg_dp-pkg-highlights-box {
    background: #f7dde0;
    border-radius: 5px;
    gap: 10px;
    padding: 10px;
}

.pkg_dp-pkg-highlights-box img {
    height: 25px;
    width: auto;
}

.pkg_dp-pkg-highlights-box-content p {
    font-size: 14px;
}

.pkg-det-blue {
    background: #d8dee9;
}

.pkg-dp-pkg-overview-heading {
    gap: 10px;
}

.pkg-dp-pkg-overview-hone,
.pkg-dp-pkg-overview-htwo {
    gap: 15px;
}

.pkg-dp-pkg-overview-hone p {
    font-size: 15px;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 12px;
    font-weight: 500;
    background: #f7dde0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.pkg-dp-pkg-overview-htwo p {
    font-size: 15px;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 12px;
    font-weight: 500;
    background: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    gap: 5px;
}

.pkg-dp-pkg-overview-htwo img {
    height: 20px;
    width: auto;
}

.pkg-dp-pkg-overview-price {
    align-items: flex-end !important;
}

.pkg-dp-pkg-overview-day-price {
    text-align: center;
    font-size: 18px;
    color: gray;
    font-weight: 600;
}

.pkg-dp-pkg-overview-price span {
    color: white;
    background: #f50122;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 10px;
}

.pkg-dp-pkg-overview-content p {
    font-size: 14px;
    margin-bottom: 10px !important;
}

.pkg-dp-pkg-overview-content-extra-box {
    width: 23%;
    background: #f7dde0;
    padding: 10px 5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.pkg-dp-pkg-overview-content-extra-box p {
    font-size: 14px;
}

.bg-bl {
    background: #d8dee9;
}

@media screen and (max-width: 992px) {

    .pkg-dp-pkg-overview-hone p,
    .pkg-dp-pkg-overview-htwo p {
        font-size: 11px;
    }

    .pkg-dp-pkg-overview-day-price {
        font-size: 15px;
    }

    .pkg-dp-pkg-overview-price span {
        font-size: 16px;
    }

    .pkg-dp-pkg-overview-content p,
    .pkg-dp-pkg-overview-content-extra-box p,
    .pkg_dp-pkg-highlights-box-content p,
    .hotel_listing_box-content-para,
    .hotel_listing_box-content-para,
    .pkg_iti-detail-tpone-col-content p,
    .pkg_iti-tptwo-li,
    .pkg_dp_aside-wcu p,
    .pkg_dp_aside-form-col label,
    .pkg_dp_aside-form-in_box input::placeholder,
    .pkg_dp_aside-form-in_box textarea::placeholder,
    .pkg_dp_aside-form-col p,
    .pkg_iti-detail-tpone-col p {
        font-size: 13px;
    }

    .pkg_dp-aside-form-cta-btn {
        font-size: 13px !important;
    }

    .pkg-dp-similar-pkg-box p,
    .pkg_dp_aside-wcu-box-content p,
    .pkg-dp-hotel-location {
        font-size: 12px;
    }

    .pkg_dp_aside-card-heading p {
        font-size: 10px;
    }

    .pkg-dp-pkg-overview-content-extra {
        flex-wrap: wrap;
        gap: 15px 0px;
    }

    .pkg-dp-pkg-overview-content-extra-box {
        width: 48%;
    }
}

@media screen and (max-width: 767px) {
    .pkg_detail-page-coltwo {
        margin-top: 25px !important;
        flex-direction: row !important;
        flex-wrap: wrap;
        justify-content: space-between !important;
    }

    .pkg_dp_aside-card {
        width: 48%;
    }

    .pkg-dp-similar-pkg-box-btn {
        font-size: 12px !important;
    }
}

@media screen and (max-width: 576px) {

    .pkg_dp-pkg-highlights,
    .pkg-dp-pkg-overview {
        padding: 10px 0px;
    }

    .pkg-dp-pkg-overview-htwo {
        flex-wrap: wrap;
        gap: 10px;
    }

    .pkg_iti-li-btn {
        padding: 10px 3px !important;
        font-size: 12px !important;
    }

    .pkg-dp-similar-pkg-box p {
        width: 100%;
    }

    .pkg-dp-similar-pkg-box-price span {
        font-size: 15px;
    }

    .pkg_dp_aside-card-heading p {
        display: none;
    }

    .smililar-pkg-img {
        height: 200px !important;
        width: 100% !important;
        object-fit: cover !important;
    }
}

@media screen and (max-width: 413px) {
    .pkg_iti-li-btn {
        font-size: 11px !important;
    }
}

.pkg-holidaylisting-col-box-input {
    gap: 5px;
    width: 100%;
    align-items: center !important;
}

.pkg-holidaylisting-col-box-input select {
    border: none;
    outline: none;
    width: 100% !important;
}

.pkg-holidaylisting-col-box-input input::placeholder,
.pkg-holidaylisting-col-box-input .form-select {
    color: gray;
    font-size: 15px;
}

.pkg-holidaylisting-col-box-input-col label {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
}

.form-select:focus {
    border-color: none !important;
    box-shadow: none !important;
}

@media screen and (max-width: 1200px) {
    .pkg-holidaylisting-col-box-input-col label {
        font-size: 14px;
    }

    .pkg-holidaylisting-col-box-input input::placeholder,
    .pkg-holidaylisting-col-box-input .form-select {
        font-size: 13px;
    }
}

@media screen and (max-width: 992px) {
    .pkg-holidaylisting-col-box {
        border-radius: 10px !important;
        gap: 15px 0px;
        padding: 20px 5px;
        align-items: end !important;
    }

    .pkg-holidaylisting-col-box-input {
        border: 1px solid lightgray;
        border-radius: 5px;
        padding: 5px;
    }

    .pkg-holidaylisting-col-button {
        align-items: end !important;
    }

    .pkg-holidaylisting-col-btn,
    .pkg-holidaylisting-col-btn:hover {
        border-radius: 5px !important;
    }
}




.main-box-date {
    border: none !important;
}

.main-box-date-placeholder {
    font-size: 14px;
}

.btn-close {
    background: none !important;
    width: fit-content !important;
    color: #0e3d6f !important;
    font-weight: 700 !important;
}

.rdp-day:hover {
    background: #d4def1 !important;
    border-radius: 50%;
}



/*----------new homepage design-----*/
.homepage {
    background: #f8f8f8;
}

.homepage-container {
    margin: auto;
    gap: 40px 0px;
}

.homepage-container .row {
    margin: auto;
}

.homepage-banner-row {
    background-image: url("/homepage-banner.webp");
    background-size: cover;
    height: auto;
    padding: 25px 35px 35px 25px;
}

.homepage-banner-heading h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.homepage-banner-heading h1>span {
    color: rgb(255, 196, 0);
}

.homepage-common-row {
    border-radius: 10px;
    background: white;
    padding: 20px 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.hp-common-heading-gap {
    gap: 10px 0px;
}

.hp-common-heading-gap p {
    font-size: 17px;
}

.homepage-cruise-col {
    position: relative;
}

.homepage-cruise-col-heading {
    position: absolute;
    top: 20px;
    left: 25px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.hp_cruise-main-image {
    border-radius: 10px;
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.hp-cruise-boxes {
    position: absolute;
    right: 25px;
    gap: 10px;
    top: 10px;
    bottom: 10px;
    width: 27%;
}

.hp_cruise-image {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.hp-cruise-subboxes p {
    color: white;
    text-shadow: 1px 1px 1px black;
}

.hp-cruise-subboxes {
    width: 100%;
}

.homepage-mid-banner {
    border-radius: 10px;
    background-image: linear-gradient(to right, #0e3d6f, #396BCA, #0e3d6f);
    padding: 15px 15px 0px 15px;
}

.homepage-midbanner-content {
    gap: 10px;
}

.homepage-midbanner-content h3,
.homepage-midbanner-content a {
    color: white;
    text-shadow: 1px 1px 1px black;
}

.homepage-midbanner-content a {
    font-size: 18px;
    font-weight: 500;
}

.homepage-midbanner-content span {
    font-weight: 700;
    font-size: 30px;
    margin: 0px 5px 0px 5px;
}

.homepage-car_rental-col {
    position: relative;
    align-items: center !important;
}

.homepage-car_rental-col img {
    height: 300px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.homepage-car-rental-content {
    position: absolute;
    top: 15px;
    gap: 20px;
    left: 25px;
    width: 40%;
}

.homepage-car-rental-content p {
    font-size: 18px;
    font-weight: 500;
}

.homepage-car-rental-content h3 {
    font-weight: 700;
}

.homepage-car-rental-content p,
.homepage-car-rental-content h3 {
    color: white;
    text-shadow: 1px 1px 1px black;
}

@media screen and (max-width: 1400px) {
    .hp_cruise-main-image {
        height: 350px !important;
    }
}

@media screen and (max-width: 992px) {
    .homepage-container {
        gap: 25px 0px;
    }

    .homepage .common-gap {
        gap: 15px 0px;
    }

    .hp-common-heading-gap p {
        font-size: 14px;
    }

    .hp-cruise-boxes{
        bottom: 10px;
        width: 95%;
        left: 20px;
        top: auto;
        right: 20px;
    }
    .hp-cruise-boxes{
        flex-direction: row;
        justify-content: space-between !important;
        align-items: center !important;
    }
    .hp-cruise-subboxes{
        flex-direction: column;
        text-align: center;
        width: 32%;
        gap: 5px;
    }
    .homepage-midbanner-colone{
        display: none !important;
    }
    .homepage-mid-banner{
        padding: 15px;
    }
    .homepage-mid-banner h3, .homepage-mid-banner a{
         text-align: center;
         width: 100%;
    }
    .homepage-car-rental-content{
        width: 60%;
    }
    .homepage-midbanner-content span{
        font-size: 20px;
    }
}
@media screen and (max-width: 768px) {
    .hp_cruise-main-image{
        height: 300px !important;
    }
    .homepage-car-rental-content{
        width: 90%;
    }
}

@media screen and (max-width: 576px) {
    .hp-cruise-boxes{
        display: none !important;
    }
    .homepage-banner-row{
        padding: 0px 10px 10px 10px;
    }
    .homepage-banner-heading{
        display: none;
     }
     .homepage-car-rental-content{
        background: rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        padding: 15px 10px;
        top: 0px;
        bottom: 0px;
        left: 10px;
        right: 10px;
        width: 93%;
     }
}

@media screen and (max-width: 413px) {
    .homepage-banner-search-engine{
        padding: 0px !important;
    }
    .search-engine .nav-pills{
        flex-wrap: wrap;
        gap: 10px;
    }
    .se-li{
        width: 30% !important;
    }
    .se-li-btn img{
        height: 30px;
    }
    .search-engine .nav-tabs .nav-link{
        font-size: 12px;
        padding: 7px 10px !important;
    }
    .search-engine-flightcontainer-nav-tab{
        padding-left: 10px !important;
        gap: 5px !important;
    }
    .se-input-box input::placeholder, .main-box-date-placeholder, .disabledbox>input::placeholder{
        font-size: 12px;
    }
    .homepage-common-row{
        padding: 15px 0px;
    }
    .homepage-exclusive-offer-col .nav-link{
        width: 32%;
        padding: 5px 10px;
        font-size: 11px !important;
    }
    .homepage_exclusive-offer_box-col, .homepage_airlinep-col{
        padding: 0px !important;
    }
    .homepage-hotel-col, .homepage-tblog-col{
        width: 100% !important;
    }
    .homepage-midbanner-content a, .homepage-car-rental-content p{
        font-size: 15px;
    }
}