 .homepagetravel-partner-box{
    width: 19%;
    padding: 5px;
    gap: 10px;
    border-right: 1px solid gray;
 }
 .tp-no-border{
     border-right: 0px solid gray;
 }
 .homepagetravel-partner-box strong{
    font-size: 18px;
 }
 .homepagetravel-partner-box p{
    font-size: 15px;
    text-align: center;
 }
 .homepagetravel-partner-box img{
    height: 60px;
    width: auto;
 }

 @media screen and (max-width: 992px) {
   .homepagetravel-partner-col{
      flex-wrap: wrap;
      justify-content: flex-start !important;
      gap: 15px;
   }
   .homepagetravel-partner-box{
      width: 31%;
      border: none;
   }
   .homepagetravel-partner-box p{
      font-size: 14px;
   }
 }
 @media screen and (max-width: 576px) {
   .homepagetravel-partner-box{
      width: 47%;
   }
 }