.hotel-listing-breadcrumb, .hotelb-status{
    border-bottom: 1px solid lightgray;
    padding: 15px 0px;
}


.hotelb-status{
    border-bottom: 1px solid lightgray;
    padding: 20px 0px;
    background: white;
}
.hotelb-status-col-box{
    gap: 25px;
}
.hotelb-status-subbox-circle{
    border: 2px solid lightgray;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.hotelb-status-subbox-circle p{
    font-size: 20px;
    font-weight: 500;
}
.hotelb-status-subbox{
    gap: 7px;
}
.hotelb-status-subbox p{
    font-size: 15px;
    color: gray;
}
.hotelb-status-col-div{
    height: 2px;
    border: 1px solid lightgray;
    background: gray;
    border-radius: 50px;
    width: 100px;
    margin-top: -15px;
}
.booking-step-done .hotelb-status-subbox-circle{
    border: 2px solid #0e3d6f ;
    background: #0e3d6f ;
}
.booking-step-done .hotelb-status-subbox-circle p{
    color: white !important;
}
.booking-step-done p{
    color: #0e3d6f;
}
.hbooking-contact-info{
    background: #f4f6fc;
    padding: 50px 0px;
}

.hbooking-contact-info-subrow{
    background: white;
    margin: auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 20px 10px;
    gap: 20px 0px;
}
.hbooking-contact-info-row-btn{
    background: #0e3d6f !important;
    color: white !important;
    margin-top: 15px;
    margin-left: auto !important;
    width: fit-content;
    padding: 8px 15px;
    border-radius: 5px;
}
.hbooking-contact-info-row-btn a{
    font-size: 15px;
    color: white !important;
    font-weight: 500;
}
.hbooking-contact-info-col-disclaimer{
    width: 100%;
    border: 1px solid #0e3d6f;
    background: #f4f6fc;
    border-radius: 5px;
    padding: 5px 10px;
    align-items: center !important;
}
.hbooking-contact-info-col-disclaimer p{
    font-size: 14px;
    font-weight: 500;
    color: #0e3d6f;
}
.hbooking-contact-info-col-disclaimer img{
    height: 30px;
    width: auto;
}
.hbooking-contact-info-col{
    gap: 5px;
}
.hbooking-contact-info-col label{
    font-size: 15px;
    font-weight: 500;
}
.hbooking-contact-info-col input, .hbooking-contact-info-col select{
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 5px 10px;
    width: 100%;
}
.hbooking-contact-info-col input::placeholder, .hbooking-contact-info-col .form-select{
    font-size: 14px;
    color: gray;
}

@media screen and (max-width: 768px) {
    .hbooking-contact-info{
        padding: 25px 0px;
    }
    .hotel-listing-breadcrumb-col a,.hotel-listing-breadcrumb-col li{
        font-size: 13px;
        color: gray;
    }
    .hbooking-contact-info-row-btn a{
        font-size: 14px;
    }

    .hotelb-status-subbox p{
        font-size: 13px !important;
        text-align: center !important;
    }
    .hotelb-status-col-box{
        gap: 10px !important;
    }
    .hotelb-status-col-div{
        width: 40px;
    }
    .hotelb-status-subbox-circle{
        height: 30px;
        width: 30px;
    }
}