.hotel-detail{
    background: #f4f6fc;
    padding-bottom: 50px;
}
.hotel-detail-page .row{
    margin: auto;
}
.bdr-top{
    border-top: 1px solid lightgray;
}
.bdr-btm{
    border-bottom: 1px solid lightgray;
}
.hotel-listing-breadcrumb, .hotel-listing-properties, .hotellistng-search{
    padding: 20px 0px;
}
.hotel-listing-breadcrumb-row li>a, .hotel-listing-properties-col p{
    color: gray;
    font-size: 15px;
}
.hotel-listing-breadcrumb-row .breadcrumb {

 align-items: center !important;
}
.hotel-listing-breadcrumb-row .breadcrumb-item.active, .hotel-listing-properties-col strong{
    color: black;
}
.hotel-listing-properties-col{
    gap: 10px;
}
.hotellistng-search{
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    background: white;
}


.hotel-detail .row{
    margin: auto;
}
.hotel-detail-container{
    gap: 40px 0px !important;
}
.hotel-detail-top_overview_images-coltwo{
    flex-wrap: wrap;
}
.hotel-detail-top_overview-side_image{
    width: 48%;
}
.hotel-detail-top_overview-side_image-overlay, .hotel-detail-top_overview_images-colone-box{
    position: relative;
}
.hotel-detail-top_overview-side_image-viewall{
    position: absolute;
    background: rgba(0,0,0, 0.5);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: 10px;
}
.hotel-detail-top_overview-side_image-viewall p{
    font-size: 18px;
    font-weight: 500;
    color: white;
}
.hotel-detail-overview-name, .hotel-detail-overview-name-city, .hotel-detail-overview-rating{
    background: white;
    border-radius: 50px;
    padding: 5px 20px;
    position: absolute;
    font-size: 14px;
    font-weight: 500;
}
.hotel-detail-overview-name{
    left: 10px;
    top: 15px;
}
.hotel-detail-overview-name-city{
    left: 10px;
    bottom: 15px;
}
.hotel-detail-overview-rating{
    right: 10px;
    top: 15px;
}
.hotel-detail-overview-rating span{
    color: gray;
}
.hotel-detail-top_overview_images-colone-box img{
    height: 400px;
    width: 100%;
    border-radius: 10px;
}



@media screen and (max-width: 1400px) {
    .hotel-detail-top_overview_images-colone-box img{
        height: 350px;
    }
}
@media screen and (max-width: 1200px) {
    .hotel-detail-top_overview_images-colone-box img{
        height: 300px;
    }
    .hotel-detail-overview-name, .hotel-detail-overview-name-city, .hotel-detail-overview-rating{
        font-size: 12px;
    }
}

@media screen and (max-width: 992px) {
    .hotel-listing-breadcrumb-row .breadcrumb-item.active, .hotel-listing-properties-col strong, .hotel-listing-breadcrumb-row li>a, .hotel-listing-properties-col p{
        font-size: 13px;
    }
    
    .hotel-listing-breadcrumb, .hotel-listing-properties, .hotellistng-search{
        padding: 10px 0px;
    }
    .hotel-detail-top_overview-side_image img{
        height: 140px;
    }
}
@media screen and (max-width: 767px){
    .hotel-detail-top_overview_images-coltwo{
        display: none;
    }
    .hotel-detail-container{
        gap: 25px 0px !important;
    }
    .hotel-detail-main_colone{
        padding: 0px !important;
    }
}